<style>
    .chatList {
        flex: 1;
        overflow: auto;

        .search {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;

            .searchBar {
                flex: 1;
                background-color: rgba(17, 25, 40, 0.5);
                display: flex;
                align-items: center;
                gap: 20px;
                border-radius: 10px;
                padding: 10px;
                using Microsoft.AspNetCore.Identity;

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: white;
                    flex: 1;
                }

                img {
                    width: 20px;
                    height: 20px;
                }

            }

            .add {
                width: 36px;
                height: 36px;
                background-color: rgba(17, 25, 40, 0.5);
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
            }
        }

        .item {
            a{
                width: 100%;
                height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;
            cursor: pointer;
            border-bottom: 1px solid #dddddd35;
            text-decoration: none;
            color: inherit;
            
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    font-weight: 500;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
            }
        }
    }
</style>


<div class='chatList'
 @* id="chatList" *@
>
    <div style="display: flex; flex-direction:column;">

    <div class='search'>
        <div class='searchBar'>
            <img src='~/images/search.png' alt='' />
            <input type='text' placeholder='Search' />
        </div>
        <img src='~/images/plus.png' alt='' class="add" id='addButton' />
    </div>
    <div id="chatList">

    </div>
    </div>
</div>

<script>
    var plus = true
    $("#addButton").click(function () {
        plus = !plus
        var image = !plus ? "images/minus.png" : "images/plus.png"
        $("#addButton").attr("src", image);
    });

    // Ajax call for user list
    
    const ajaxCallForData = () => {
        var chatList = $('#chatList')
        chatList.html("")
        $.ajax({
            url: 'http://localhost:5159/api/user',
            method: 'GET',
            dataType: 'json',
            success:  (data) => {
                data.messagesObject.forEach((item) => chatList.append(
                    `<div class='item'>
                        <a href='/Home/Index?Id=${data.curUserId == item.fromUserId ? item.toUserId : item.fromUserId}'>
                            <img src='/images/avatar.png' alt='' />
                            <div class='texts'>
                                <span>${data.curUserId == item.fromUserId ? item.toUser.userName.split("@@")[0] : item.fromUser.userName.split("@@")[0]}</span>
                                <p>${item.content.slice(0,35)}</p>
                             </div>
                            </a>
                        </div>`))
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    ajaxCallForData()

</script>