@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
    
<style>
    .userInfo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user{
        display: flex;
        align-items: center;
        gap: 20px;
    
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        h2{
            font-size: x-large;
        }
    }

    .icons{
        display: flex;
        gap: 20px;

        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}
</style>
<div class='userInfo'>
    <div class="user">
        <img src="~/images/avatar.png" alt="" />
        <h2> @UserManager.GetUserName(User).Split('@')[0]</h2>
    </div>
    
    <div class="icons">
        <img src="~/images/more.png" />
        <img src="~/images/video.png" />
        <img src="~/images/edit.png" />
    </div>
</div>