@using RealTimeChatApp.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .chat {
        flex: 2;
    }

    .list {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .detail {
        flex: 1;
    }
</style>


<div class="list">
    <partial name="components/_UserInfo" />
    <partial name="components/_ChatList" />
</div>
<partial name="components/_Chat" model="@Model"/>
<partial name="components/_Details" />





<script>

    @* var toId = $("#toId").val(); *@
    @* var fromId = $("#fromId").val(); *@
    var currUserId = $("#currUserId").val();
    @* console.log(`to user ${toId}`) *@
    @* console.log(`from user ${fromId}`) *@
    @* console.log(`current user ${currUserId}`) *@
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

    connection.on("ReceiveMessage", function (fromId, toId, message) {
        var fromId = fromId
        var toId = toId
        
        @* var encodedFrom = $("<div />").text(fromName).html(); *@
    @* var encodedTo = $("<div />").text(`to the user with id ${toId}`).html(); *@
        var encodedMsg = $("<div />").text(message).html();
        @* console.log(`from ${encodedFrom} ${encodedMsg}`) *@
    @* $("#chatBox").append("<p><strong>" + encodedFrom + "</strong>: " + encodedMsg + "</p>"); *@
        var messagebox = createMessage(encodedMsg, fromId)
        $("#chatBox").append(messagebox)

    });

    $("#sendButton").click(function () {
    @* var fromId = $("#username").val(); *@
        var toUserId = $("#toId").val();
        var fromUserId = $("#fromId").val();
        var message = $("#message").val();
        connection.invoke("SendMessage", fromUserId, toUserId, message);
        $("#message").val("").focus();
    });

    connection.start().then(function () {
        console.log("Connected!");
    }).catch(function (err) {
        console.error(err.toString());
    });

    const createMessage = (encodedMsg, fromId) => {
        // Create the div element
        const messageDiv = document.createElement('div');
        messageDiv.classList.add('message');
        if(fromId === currUserId)
        {
            messageDiv.classList.add('own');
        }


        // Create the img element
        const img = document.createElement('img');
        img.src = '/images/avatar.png';
        img.alt = '';

        // Create the div for texts
        const textsDiv = document.createElement('div');
        textsDiv.classList.add('texts');

        // Create the p element for the message
        const p = document.createElement('p');
        p.textContent = encodedMsg;

        // Create the span element for the timestamp
        const span = document.createElement('span');
        span.textContent = '1 min ago';

        // Append elements to their parent
        textsDiv.appendChild(p);
        textsDiv.appendChild(span);

        messageDiv.appendChild(img);
        messageDiv.appendChild(textsDiv);
        return messageDiv
    }
</script>